name: CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        run: |
          sudo apt update -y -qqq
          sudo apt autoremove --purge -y needrestart || true
          sudo apt install -y bash wget curl openssl
          sudo ln -svf bash /bin/sh
          sudo wget https://raw.githubusercontent.com/icebluey/docker/refs/heads/master/install/clean-os.sh -O /tmp/clean-os.sh
          sudo bash /tmp/clean-os.sh
          sudo wget https://raw.githubusercontent.com/icebluey/docker/refs/heads/master/install/ubuntu/install-for-docker.sh -O /tmp/install-for-docker.sh
          sudo bash /tmp/install-for-docker.sh
          sudo wget https://raw.githubusercontent.com/icebluey/docker/refs/heads/master/install/ubuntu/install-docker.sh -O /tmp/install-docker.sh
          sudo bash /tmp/install-docker.sh
          sudo /bin/rm -fr /tmp/*
          sudo df -Th

      - name: Build
        run: |
          sudo /bin/bash run-alpine.sh
