name: host
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        run: |
          sudo apt update -y -qqq
          sudo apt autoremove --purge -y needrestart || true
          sudo apt install -y bash wget curl openssl
          sudo ln -svf bash /bin/sh
          sudo apt install -y -qqq binutils coreutils util-linux findutils diffutils sed gawk grep file tar gzip bzip2 xz-utils unzip
          sudo apt install -y -qqq util-linux-extra || true
          sudo apt install -y -qqqq make gcc g++ libc6-dev m4 pkg-config perl libperl-dev groff-base dpkg-dev cmake
          sudo apt install -y -qqq autoconf autoconf-archive autogen automake autopoint autotools-dev libtool m4 bison flex
          sudo apt install -y -qqq libseccomp-dev libseccomp2 gperf
          sudo /bin/rm -fr /tmp/*

      - name: Build
        run: |
          _tmp_dir=$(mktemp -d) && cd ${_tmp_dir}
          wget -q -c -t 9 -T 9 'https://github.com/Terraspace/UASM/releases/download/v2.57r/uasm257_linux64.zip'
          unzip uasm257_linux64.zip uasm
          sudo install -v -m 0755 uasm /usr/bin/
          sudo rm -f uasm uasm*linux64.zip
          git clone https://github.com/mcmilk/7-Zip-zstd.git && cd 7-Zip-zstd/CPP/7zip/Bundles/Alone2/
          sudo make CC='gcc' CXX='g++' LDFLAGS='-static -static-libgcc -static-libstdc++' -j$(( $(nproc) > 1 ? $(nproc)-1 : 1 )) -f makefile.gcc IS_X64=1 USE_ASM=1 MY_ASM=uasm
          mkdir /tmp/_out
          sudo cp -f _o/7zz /tmp/_out/7z
          sudo chmod 0755 /tmp/_out/7z
          sudo file _o/7zz
          sudo ldd _o/7zz || true
          sudo ./_o/7zz i 2>&1
          sudo ./_o/7zz --version 2>&1 | sed 's/ ([^)]*)//g; s/ /-/g' > /tmp/_out/version.txt
          cat /tmp/_out/version.txt
          cd /tmp/_out
          sudo file 7z | sed -n -E 's/^(.*):[[:space:]]*ELF.*, not stripped.*/\1/p' | xargs --no-run-if-empty -I '{}' sudo strip '{}'
          sudo tar -cf 7z.tar 7z
          sleep 1
          sudo sha256sum -b 7z.tar > 7z.tar.sha256
          sudo rm -f 7z
          
      - name: Generate release tag env
        run: |
          _release_ver="$(cat /tmp/_out/version.txt)"
          echo "_release_ver=${_release_ver}" >> $GITHUB_ENV

      - name: Upload files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env._release_ver }}
          files: /tmp/_out/7z*
          overwrite_files: true

      - name: Delete
        run: |
          sed -e "/^_release_ver=/d" -i $GITHUB_ENV
          sudo rm -fr /tmp/_output
